*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
  height: 1200px;
  background-image: url("../img/sandBack.jpg");
  background-repeat: repeat;
  color: white;
}
a {
  color: #DA7E25;
}
.navbar {
  padding: 10px;
  background: rgba(0, 0, 0, .8);
  border-color: rgba(0, 0, 0, .8);
  background-color: #271709;
  text-align: center;
  width: 100%;
  height: 100px;
}

.showtimesContainer {
  border: 1px solid white;
  background: rgba(0,0,0,0.15);
}
.buyTickets {
  border: 1px solid white;
  padding: 10px;
  width: 85%;
  text-align: center;
  margin: 20px;
  background: rgba(0,0,0,0.5);
}

.buyTickets button {
  margin: 5px !important;
  width: 40%;
  box-shadow: 1px 4px #AE651E;
  background-color: #E19851 !important;
}

.moviesIMG {
  width: 30%;
  height: auto;
  float: left;
  margin: 10px;
}
footer {
  background-color: #271709;
}

.topPIC {
  margin-top: -50px;
  background: rgba(0,0,0,0.75);
  padding: 10px;
}
